name: 'Dependency Review'
on: [pull_request]

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@v3
        
        # Once all detectors have completed, run the Dependency Review action
      - name: 'Dependency Review'
        uses: actions/dependency-review-action@juxtin/snapshot-warnings
